.logo-container {
    height: 100px;
    width: 100px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 13px;
    /* background-image: url(https://thumbs.gfycat.com/BewitchedAntiqueAllensbigearedbat-size_restricted.gif); */
    background-size: cover;
    margin-left: 20px;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #A100FFFF 0%, #166F91FF 94%);
    display: flex;
    
}